<!DOCTYPE html>
<html>
<head>
  <title>Flora</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAmI5IBTaXLT-8wS8ToNhOYkGb2ocZ795o&sensor=false' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'ie' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller_name} #{action_name}" %>'>

<%= yield %>

</body>
</html>
